{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false and section.settings.packages_menu == blank and section.settings.top_heading == blank and section.settings.top_text == blank
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    and has_social_icons == true
    or section.settings.enable_follow_on_shop
    or section.settings.packages_menu != blank
    or section.settings.top_heading != blank
    or section.settings.top_text != blank
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        {%- liquid
          assign footer_menu_block_count = 0
        -%}

        <div class="footer__grid">
          <div class="footer__intro">
            {%- if section.settings.top_heading != blank -%}
              <h2 class="footer__top-heading inline-richtext">{{ section.settings.top_heading }}</h2>
            {%- endif -%}
            {%- if section.settings.top_text != blank -%}
              <div class="footer__top-text rte">
                {{ section.settings.top_text }}
              </div>
            {%- endif -%}
          </div>

          <div class="footer__packages-wrapper">
            {%- if section.settings.featured_product != blank -%}
              {%- assign promo_product = section.settings.featured_product -%}
              <div class="footer__product-promo">
                <a class="footer__product-promo-link" href="{{ promo_product.url }}">
                  {%- if promo_product.featured_media != blank -%}
                    <div class="footer__product-promo-media">
                      {{
                        promo_product.featured_media
                        | image_url: width: 220
                        | image_tag:
                          loading: 'lazy',
                          widths: '110, 160, 220',
                          sizes: '110px',
                          class: 'footer__product-promo-image'
                      }}
                    </div>
                  {%- endif -%}

                  <div class="footer__product-promo-content">
                    {%- if section.settings.featured_product_label != blank -%}
                      <p class="footer__product-promo-eyebrow caption">{{ section.settings.featured_product_label | escape }}</p>
                    {%- endif -%}
                    <p class="footer__product-promo-title">{{ promo_product.title | escape }}</p>
                    <p class="footer__product-promo-price">{{ promo_product.price | money }}</p>

                    {%- if section.settings.featured_product_cta_label != blank -%}
                      <span class="footer__product-promo-cta">{{ section.settings.featured_product_cta_label | escape }}</span>
                    {%- endif -%}
                  </div>
                </a>
              </div>
            {%- endif -%}

            {%- if section.settings.packages_menu != blank -%}
              {%- if section.settings.packages_heading != blank -%}
                <h2 class="footer-block__heading inline-richtext">{{ section.settings.packages_heading }}</h2>
              {%- endif -%}

              <ol class="footer__packages" role="list">
                {%- for link in section.settings.packages_menu.links -%}
                  {%- liquid
                    assign status_text = ''
                    if section.settings.packages_show_status
                      assign status_text = section.settings.packages_status_text
                      if link.type == 'product_link' and link.object and link.object.available == false
                        assign status_text = section.settings.packages_sold_out_text
                      endif
                    endif
                  -%}
                  <li class="footer__package">
                    <a href="{{ link.url }}" class="footer__package-link link link--text">
                      {{ link.title | escape }}
                    </a>
                    {%- if status_text != blank -%}
                      <span class="footer__package-status caption">{{ status_text }}</span>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ol>
            {%- endif -%}
          </div>


          <div class="footer__bottom-right">
            {%- for block in section.blocks -%}
              {%- if block.type == 'link_list' and block.settings.menu != blank -%}
                {%- if footer_menu_block_count < 2 -%}
                  <div class="footer__menu" {{ block.shopify_attributes }}>
                    {%- if block.settings.heading != blank -%}
                      <h2 class="footer-block__heading inline-richtext">{{ block.settings.heading }}</h2>
                    {%- endif -%}
                    <ul class="footer-block__details-content list-unstyled">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a
                            href="{{ link.url }}"
                            class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                          >
                            {{ link.title | escape }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}
                {%- assign footer_menu_block_count = footer_menu_block_count | plus: 1 -%}
              {%- endif -%}
            {%- endfor -%}

            <div class="footer__social">
              {%- if section.settings.show_social and has_social_icons -%}
                {%- render 'social-icons', class: 'footer__list-social' -%}
              {%- endif -%}

              {%- if section.settings.payment_enable -%}
                <div class="footer__payment">
                  <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
                  <ul class="list list-payment" role="list">
                    {%- for type in shop.enabled_payment_types -%}
                      <li class="list-payment__item">
                        {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    {%- endunless -%}
  {%- endif -%}

  <div
    class="footer__content-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="footer__content-bottom-wrapper page-width">
      {%- if section.settings.newsletter_enable -%}
        <div class="footer__column footer__column--newsletter">
          <div class="footer__newsletter-block">
            {%- if section.settings.newsletter_heading != blank -%}
              <h2 class="footer-block__heading inline-richtext">{{ section.settings.newsletter_heading }}</h2>
            {%- endif -%}
            <div class="footer-block__newsletter">
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      <span class="svg-wrapper">
                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                      </span>
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-success.svg' | inline_asset_content -}}
                    </span>
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          </div>

          {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
            <div class="footer__follow-on-shop">
              {{ shop | login_button: action: 'follow' }}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}

      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'FooterCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info"></div>
    </div>
    <div class="footer__content-bottom-wrapper page-width{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
      <div class="footer__bottom-bar caption">
        <div class="footer__bottom-left">
          <small class="copyright__content"
            >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
          </small>
          {%- if section.settings.policies_page != blank and section.settings.policies_link_label != blank -%}
            <small class="copyright__content">
              <a href="{{ section.settings.policies_page.url }}">{{ section.settings.policies_link_label | escape }}</a>
            </small>
          {%- endif -%}
        </div>

        <div class="footer__bottom-right">
          <small class="copyright__content copyright__content--developer">
            Created by <a href="https://www.nesheimvatten.no" target="_blank" rel="noopener">Nesheim & Vatten AS</a>
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Top content"
    },
    {
      "type": "inline_richtext",
      "id": "top_heading",
      "label": "Heading",
      "default": "Go further."
    },
    {
      "type": "richtext",
      "id": "top_text",
      "label": "Text",
      "default": "<p>Add a short intro about your brand and what you offer.</p>"
    },
    {
      "type": "header",
      "content": "Packages"
    },
    {
      "type": "inline_richtext",
      "id": "packages_heading",
      "label": "Heading",
      "default": "Packages"
    },
    {
      "type": "link_list",
      "id": "packages_menu",
      "label": "Menu"
    },
    {
      "type": "checkbox",
      "id": "packages_show_status",
      "label": "Show availability text",
      "default": true
    },
    {
      "type": "text",
      "id": "packages_status_text",
      "label": "Default availability text",
      "default": "Available to order"
    },
    {
      "type": "text",
      "id": "packages_sold_out_text",
      "label": "Sold out text",
      "default": "Sold out"
    },
    {
      "type": "header",
      "content": "Featured product"
    },
    {
      "type": "product",
      "id": "featured_product",
      "label": "Product"
    },
    {
      "type": "text",
      "id": "featured_product_label",
      "label": "Label",
      "default": "Featured"
    },
    {
      "type": "text",
      "id": "featured_product_cta_label",
      "label": "Call-to-action label",
      "default": "Shop now"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label",
      "info": "t:sections.footer.settings.enable_follow_on_shop.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label",
      "info": "t:sections.footer.settings.show_social.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label",
      "info": "t:sections.footer.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label",
      "info": "t:sections.footer.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "Policies"
    },
    {
      "type": "page",
      "id": "policies_page",
      "label": "Policies page"
    },
    {
      "type": "text",
      "id": "policies_link_label",
      "label": "Policies link label",
      "default": "Policies"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label",
      "info": "t:sections.footer.settings.show_policy.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
